@import "../../Style/variable";
#question {
  padding: 0 0 50px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  min-height: 800px;
}

.answers-container {
  display: flex;
  flex-direction: column;
  //   justify-items: center;
  width: 200px;
}

.question-answer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

.time-left {
  border-radius: 15px;
  padding: 10px 15px;
  color: white;
  background-color: $secondary-color;
  border: 2px solid $primary-color;
  z-index: 1;
}

.question-text {
  margin-bottom: 20px;
}

.answer {
  cursor: pointer;
  color: white;
  border-radius: 15px;
  display: block;
  margin: 5px 0;
  padding: 5px 5px 5px 9px;
  background-color: $secondary-color;
}

.next {
  padding: 18px 25px;
}
