@import "../../Style/variable";

#category {
  display: flex;
  flex-direction: column;
  align-items: center;

  h1 {
    margin-bottom: 20px;
  }
  min-height: 800px;
}

.given-categories {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  //   width: 200px;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.category {
  color: white;
  background: $secondary-color;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 120px;
  height: 80px;
  border-radius: 15px;

  &:hover {
    background-color: $third-color;
    // color: black;
    cursor: pointer;
  }

  p {
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 0;
  }
}

.selected {
  border: 3px solid $primary-color;
}

.start-quiz {
  margin-top: 20px;
  padding: 30px 40px;
}
