@import "../../Style/variable.scss";
#result {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.percentage {
  margin-bottom: 20px;
  color: $primary-color;
  padding: 30px;
  cursor: default;
}

.question-res {
  border: 3px solid $primary-color;
  border-radius: 15px;
  padding: 20px;
  background-color: $secondary-color;
  color: white;
}
