* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.App {
  max-width: 500px;
  align-items: center;
  display: flex;
  justify-content: center;
  background: #eeeeee;
  flex-direction: column;
  overflow: hidden;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
